<div class="col-md-8 col-md-offset-2">



	<form ng-submit="submitTask()">

		<div class="form-group">
			<input type="text" class="form-control input-lg" name="title" ng-model="taskData.title" placeholder="Say what you have to say">
		</div>
		
		<div class="form-group text-right">	
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</form>

	<button type="submit" class="btn btn-success btn-lg" ng-click="filterStatus('done')">Done</button>
	<button type="submit" class="btn btn-warning btn-lg" ng-click="filterStatus('incomplete')">Not Done</button>
	<button type="submit" class="btn btn-danger btn-lg" ng-click="filterStatus('all')">All</button>


	<p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

	<div class="comment" ng-hide="loading" ng-repeat="task in tasks | filter:({is_done:filterObj.is_done}) track by $index">
		<h3>Task #{{ $index + 1 }} <small>Last updated:  {{ task.updated_at }}</small></h3>
		<p>{{ task.title }}</p>

		<p style="display: inline"><a href="#" ng-click="deleteTask(task.id)" class="text-muted">Delete</a></p>
		<p style="display: inline"><a href="#" ng-click="updateStatus(task)" class="text-muted">{{ getStatus(task) }}</a></p>

	</div>

</div>