<div class="col-md-8 col-md-offset-2">

	<form ng-submit="submitLogin()">

		<div class="form-group">
			<input type="text" class="form-control input-lg" name="username" ng-model="credentials.username" placeholder="Username">
		</div>

		<div class="form-group">
			<input type="password" class="form-control input-lg" name="password" ng-model="credentials.password" placeholder="Password">
		</div>
		

		<div class="form-group text-right">	
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>

	<button ng-click="getTasks()"> Get Data</button>

</div>
